* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
/*Titulo*/
h1{
    text-align: center;
    background-color: black;
    color: lightskyblue;
    font-size: 45px;
    font-style: oblique;
}
.nega {
    position:absolute;
     right: 10px;
    top: 70px;
}
img {
    width: 350px;
    height: 450px;
}
.Placa {
    width: 350px;
    height: 200px;
}
h2 {
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 10px
}
label {
    font-family:'Courier New', Courier, monospace;
    font-style: oblique;
    font-size:large;
}
input{
    margin: 10px;
}
.bdd{
    color: red;
    font-size: large;
    margin: 10px;
}
body {
    background-color: aquamarine;
}

