* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Texto*/
h2 {
    color:whitesmoke;
    background-size: cover;
    -webkit-text-stroke-color:white;
    -webkit-text-stroke-width: 1px;
}
/*Titulo principal*/
h1 {
    text-align: center;
    background-color: cyan;
    background-position: center;
    background-position-y: top;
    font-size: xx-large;
}
p {
    font-size: 30px;
    position: absolute;
    top: 300px;
    color:whitesmoke
}
/*Caminho para o quiz*/
a {
    font-style: oblique;
    color: whitesmoke;
    font-size: x-large;
    position: absolute;
    
}
/*Imagem Do Dick*/
img {
    width: 250px;
    height: 200px;
}
.fotododick{
    position: absolute;
    right: 10px;
    top: 50px;
}
/*Fundo*/
body{
    background-image: url(./img/wallpapersden.com_hd-cool-linux-terminal-hd_2560x1440.jpg);
    background-position: center;
    background-attachment: fixed;
}
.butao{
    background-color:black;
    width:150px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 1%;
    color: whitesmoke;
    cursor: pointer;
    border-style:groove;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.butao:hover {
  background-color: #0056b3;
}
.sobre {
    color: aliceblue;
}